﻿{% include index_open %}
    <header class="header">
        <nav class="navbar navbar-inverse navbar-fixed-top fondo-negro">
	        <div class="container-fluid">
		        <div class="navbar-header">
                    <a class="navbar-brand" href="">
                        <img alt="GearUp!" title="GearUp!" src="images/logo_full.png">
                        </a>
			        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header_menu">
			        <span class="sr-only">[[ Mostrar menú ]]</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <div class="pull-left notif-icon hidden">
				        <a href="#" data-toggle="modal" data-target="#modAlert" style="cursor: pointer;">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                            <span class="sr-only">[[ Notificaciones ]]</span>
				        </a>
				        <!--<a href="#"><img src="img/alert.png" width="100%" data-toggle="modal" data-target="#modAlert" style="cursor: pointer;"></a>-->
			        </div>
		        </div>
                <!-- <div class="navbar-right hidden dropdown links-paises">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="dropdown-flag" src="images/flags/ES-flag.png" alt="Espa&ntilde;ol"> <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu dropdown-menu-right dropdown-paises">
					    <li><a href="#"><img src="images/flags/ES-flag.png" alt="" width="25"> Espa&ntilde;ol</a></li>
					    <li><a href="#"><img src="images/flags/US-flag.png" alt="" width="25"> Ingl&eacute;s</a></li>
					    <li><a href="#"><img src="images/flags/CN-flag.png" alt="" width="25"> Chino</a></li>
				    </ul>
			    </div> -->
                <div class="collapse navbar-collapse" id="header_menu">
			        <ul class="nav navbar-nav menu">
                        <li class="{% if session.Email=='' %}hidden{% endIf %}"><a class="active" href="inicio" target="_self">[[ Inicio ]]</a></li>
				        <li class="{% if session.Email=='' %}hidden{% endIf %}"><a href="mi-perfil" target="_self">[[ Perfil ]]</a></li>
				        <li class="{% if session.Email=='' %}hidden{% endIf %}"><a href="mis-viajes" target="_self">[[ Mis Viajes ]]</a></li>
				        <li class="{% if session.Email=='' %}hidden{% endIf %}"><a href="nuevo-viaje" target="_self">[[ Nuevo Viaje ]]</a></li>
				        <li class="{% if session.Email=='' %}hidden{% endIf %}"><a href="gastos" target="_self">[[ Gastos ]]</a></li>
			        </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-item {% if session.Email=='' %}hidden{% endIf %}"><a href="mi-perfil" target="_self"><img src="images/notificacion.png"/> {{ session.Nombre }} {{ session.Apellido }}</a></li>
                        <li class="{% if session.Email=='' %}hidden{% endIf %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img class="dropdown-flag" src="images/perfil-sinfoto.png" alt=""> <span class="caret"></span>
				            </a>
				            <ul class="dropdown-menu dropdown-menu-right dropdown-paises">
					            <li><a href="mi-perfil">[[ MI PERFIL ]]</a></li>
                                <li><a href="" class="no-oauth">[[ SALIR ]]</a></li>
				            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img class="dropdown-flag" src="images/flags/ES-flag.png" alt="Espa&ntilde;ol"> <span class="caret"></span>
				            </a>
				            <ul class="dropdown-menu dropdown-menu-right dropdown-paises">
					            <li><a href="#"><img src="images/flags/ES-flag.png" alt=""> [[ Español ]]</a></li>
					            <li><a href="#"><img src="images/flags/US-flag.png" alt=""> [[ Inglés ]]</a></li>
					            <li><a href="#"><img src="images/flags/CN-flag.png" alt=""> [[ Chino ]]</a></li>
				            </ul>
                        </li>
			        </ul>
		        </div>
	        </div>
        </nav>
    </header>