﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Log Monitor</title>
    <base href="{{ global_config.SiteBase }}" />
    <link rel="stylesheet" href="logmon.aspx?css=1" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        div {
            display: block;
            width: 100%;
            white-space: nowrap;
        }

        .menu {
            width: auto;
            min-width: 100%;
            background-color: rgba(255, 244, 35, 0.80);
            padding: 5px 10px 10px 10px;
            position: fixed;
        }

        .filtros {
            margin-top: 5px;
        }

        .separator {
            width: 10px;
            display: inline-block;
        }

        table {
            border-spacing: 10px 0;
        }

        input {
            padding: 0 5px 0 5px;
        }
    </style>
    <!-- <script type="text/javascript" src="../scripts/cache.js"></script> -->
    <script type="text/javascript">
        var xmlhttp;
        //var options = new cacheSession('logmon');

        function request() {
            //initialize filters
            /*options.set('show_SIP', true);
            options.set('show_RAS', true);
            options.set('show_RADIUS', true);
            options.set('show_Registrar', true);
            options.set('show_Cache', true);
            options.set('show_VFR', true);
            options.set('show_Stats', true);
            options.set('show_CDR', true);
            options.set('show_Debug', true);

            document.getElementById('OnlineFilter').value = options.get('online_filter');
            document.getElementById('filter').value = options.get('filter');
            document.getElementById('from').value = options.get('from');*/

            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            } else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }

            xmlhttp.onreadystatechange = function () {
                var start = 0;
                var end = 0;
                var tmp;
                var statement;
                var source;

                if (xmlhttp.readyState == 3) {
                    tmp = xmlhttp.responseText.lastIndexOf('}');
                    if (tmp != -1) {
                        start = end;
                        end = tmp + 1;
                    }
                    document.getElementById("log").innerHTML = '';
                    statement = xmlhttp.responseText.slice(start, end);
                    if (statement != '') {
                        try {
                            //statement = statement.replace("'", "&apos;");
                            //statement = statement.replace('"', "&apos;");
                            //statement = statement.replace(/^\s+|\s+$/g, '');
                            statement = statement.split(/[\{\}]/);
                            for (var i in statement) {
                                if (statement[i] != "")
                                    executeEvent(JSON.parse('{' + statement[i] + '}'));
                            }
                        } catch (e) {
                            //document.getElementById("log").innerHTML += '<div>' + e + ' -> ' + statement + '</div>';
                            request();
                        }
                        statements = null;
                    }
                }
            };
            xmlhttp.open("GET", "logmon.aspx", true);
            xmlhttp.send();
        }

        function executeEvent(statement) {
            if (statement['data'] != undefined) {
                var event = statement['date'] + ' ' + statement['server'] + ' ' + statement['type'] + ' ' + statement['callid'] + ' ' + statement['data'];

                /*var checked = document.getElementById('class_' + statement['event']).checked;
                options.set('show_' + statement['event'], checked);

                var filtered = 0;
                var filter = options.get('filter');
                if (filter != '') {
                    filtered = event.indexOf(filter);
                }

                if (checked && filtered>-1) {
                    var row = document.createElement('tr');
                    row.className = 'class_' + statement['event'];
                    row.style.backgroundColor = 'rgb(255, 255, 255)';
                    row.innerHTML = '<td>' + statement['date'] + '</td><td>' + statement['server'] + '</td><td>' + statement['type'] + '</td><td>' + statement['callid'] + '</td><td>' + statement['data'] + '</td>';
                    document.getElementById("log").appendChild(row);
                }*/
                var row = document.createElement('tr');
                row.className = 'class_' + statement['event'];
                row.style.backgroundColor = 'rgb(255, 255, 255)';
                row.innerHTML = '<td>' + statement['date'] + '</td><td>' + statement['type'] + '</td><td>' + statement['callid'] + '</td><td>' + statement['data'] + '</td>';
                document.getElementById("log").appendChild(row);
            }
        }

        function OnlineFilter() {
            xmlhttp.abort();
            var filter = options.get('online_filter');
            var rows = document.getElementById('log').childNodes;
            for (var i in rows) {
                if (rows[i].innerHTML != undefined && rows[i].className != undefined && rows[i].innerHTML.indexOf(filter) > -1) {
                    rows[i].style.backgroundColor = 'rgb(146, 248, 217)';
                } else {
                    rows[i].style.backgroundColor = 'rgb(255, 255, 255)';
                }
            }
        }

        var scroll = true;
        function pageScroll() {
            if (scroll) {
                window.scrollBy(0, 500);
                scrolldelay = setTimeout('pageScroll()', 100);
            }
        }

        function setScroll() {
            scroll = document.getElementById('scroll').checked;
            pageScroll();
        }
        pageScroll();
    </script>
</head>
<body onload="request()">
	<div class="menu"> 
		<div class="filtros">
            <span><input type="button" value="Refresh" onclick="window.location.reload();"/></span>
            <span class="separator"></span>
            <span>Autoscroll:</span>
            <span><input type="checkbox" id="scroll" checked="checked" onclick="setScroll();"/></span>
            <!--<span class="separator"></span>
			<span>Filter:</span>
			<span><input type="text" id="filter" value="" onkeyup="options.set('filter', this.value);"/></span>
			<span><input type="button" value="Stop" onclick="xmlhttp.abort();"/></span>
            <span class="separator"></span>
			<span>From:</span>
			<span><input type="text" id="from" value="" onkeyup="options.set('from', this.value);"/></span> -->
            <span class="separator"></span>
			<span>Online Filter:</span>
			<span><input type="text" id="OnlineFilter" value="" onkeyup="options.set('online_filter', this.value);"/></span>
			<span><input type="button" value="Apply Online Filter" onclick="OnlineFilter()" /></span>
		</div>
        <!-- <div class="filtros">
            <input id="class_SIP" type="checkbox" checked="checked" onclick="options.set('show_SIP', this.checked);" />&nbsp;<span class="class_SIP">SIP</span>
            <span class="separator"></span>
            <input id="class_RAS" type="checkbox" checked="checked"  onclick="options.set('show_RAS', this.checked);"/>&nbsp;<span class="class_RAS">RAS</span>
            <span class="separator"></span>
            <input id="class_RADIUS" type="checkbox" checked="checked"  onclick="options.set('show_RADIUS', this.checked);"/>&nbsp;<span class="class_RADIUS">RADIUS</span>
            <span class="separator"></span>
            <input id="class_Registrar" type="checkbox" checked="checked"  onclick="options.set('show_Registrar', this.checked);"/>&nbsp;<span class="class_Registrar">Registrar</span>
            <span class="separator"></span>
            <input id="class_Cache" type="checkbox" checked="checked"  onclick="options.set('show_Cache', this.checked);"/>&nbsp;<span class="class_Cache">Cache</span>
            <span class="separator"></span>
            <input id="class_VFR" type="checkbox" checked="checked"  onclick="options.set('show_VFR', this.checked);"/>&nbsp;<span class="class_VFR">VFR</span>
            <span class="separator"></span>
            <input id="class_Stats" type="checkbox" checked="checked"  onclick="options.set('show_Stats', this.checked);"/>&nbsp;<span class="class_Stats">Stats</span>
            <span class="separator"></span>
            <input id="class_CDR" type="checkbox" checked="checked"  onclick="options.set('show_CDR', this.checked);"/>&nbsp;<span class="class_CDR">CDR</span>
            <span class="separator"></span>
            <input id="class_Debug" type="checkbox" checked="checked"  onclick="options.set('show_Debug', this.checked);"/>&nbsp;<span class="class_Debug">Debug</span>
		</div>
		<!-- <div id="BtnClose" onclick="top.log.ContextMenu_SetItemChecked('MCI10',false);MenuTopVisible(false);ShowHelpInfo(true);">x</div> -->
	</div>

    <div id="log2" style="padding-top: 40px;">
        <table id="log"></table>
    </div>
</body>
</html>
