﻿{% include header %}
    <div class="blanco-background"></div>
    <section class="container-fluid">
        <div class="row">
            <div class="banner fondo-naranja">Mis viajes</div>
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="nuevo-viaje" class="btn btn-verde pull-right">NUEVO VIAJE</a>
                    </div>
                </div>
                <div class="panel fondo-transparente">
                    <div class="panel-heading">Próximos/en curso</div>
                    <div class="panel-body">
                        <ul class="viajes">
                            <li>
                                <a class="btn btn-naranja">VER</a>
                                <div><img src="images/lugar.png" />MADRID, España</div>
                                <div><img src="images/calendario.png" />15/04/17 - 25/04/17</div>
                            </li>
                            <li>
                                <a class="btn btn-naranja">VER</a>
                                <div><img src="images/lugar.png" />New York, USA</div>
                                <div><img src="images/calendario.png" />10/08/18 - 20/08/18</div>
                            </li>
						</ul>
                    </div>
				</div>
                <div class="panel fondo-transparente">
                    <div class="panel-heading">Anteriores</div>
                    <div class="panel-body">
                        <ul class="viajes">
                            <li>
                                <a class="btn btn-naranja">VER</a>
                                <div><img src="images/lugar.png" />RÍO DE JANEIRO, Brasil</div>
                                <div><img src="images/calendario.png" />15/01/16 - 25/01/16</div>
                            </li>
                            <li>
                                <a class="btn btn-naranja">VER</a>
                                <div><img src="images/lugar.png" />MIAMI, USA</div>
                                <div><img src="images/calendario.png" />10/02/15 - 25/02/15</div>
                            </li>
						</ul>
                    </div>
				</div>
			</div>
        </div>
    </section>
{% include footer %}