﻿{% include header %}
    <div class="verde-background"></div>
    <section class="container-fluid verde">
        <div class="row">
            <div class="banner fondo-naranja">Nuevo viaje</div>
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel fondo-transparente">
                    <div class="panel-body">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#perfil" aria-controls="perfil" role="tab" data-toggle="tab">DESTINO 1</a></li>
                            <li role="presentation"><a href="#notificaciones" aria-controls="notificaciones" role="tab" data-toggle="tab">DESTINO 2</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="perfil">
                                <form action="registrarse" method="post" class="viaje">
							        <div class="form-group row">
                                        <div class="col-xs-12">
                                            <span class="icon-viaje"><img src="images/lugar.png"></span>
								            <label for="user" class="control-label">Ciudad</label>
								            <input type="text" name="usuario" class="form-control" id="Email1" placeholder="" required="required">
                                        </div>
							        </div>
                                    <div class="form-group row">
								        <div class="col-xs-12 col-md-6">
                                            <span class="icon-viaje"><img src="images/calendario.png"></span>
                                            <label for="user" class="control-label">Fecha de salida</label>
								            <input type="text" name="usuario" class="form-control" id="Email3" placeholder="dd/mm/aaaa" required="required">
								        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <span class="icon-viaje"><img src="images/calendario.png"></span>
                                            <label for="user" class="control-label">Fecha de regreso</label>
								            <input type="text" name="usuario" class="form-control" id="Text2" placeholder="dd/mm/aaaa" required="required">
								        </div>
							        </div>
                                    <div class="form-group row">
								        <div class="col-xs-12">
                                            <label for="user" class="control-label">Tipo de viaje</label>
                                        </div>
                                        <div class="col-xs-12">
								            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions2" id="Radio1" value="option1" checked="checked">De negocios
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions2" id="Radio2" value="option2">De placer
                                            </label>
                                        </div>
							        </div>
                                    <div class="form-group">
							            <!--<button type="submit" class="btn btn-naranja btn-block">ELEGIR ACTIVIDADES</button>-->
                                        <a href="nuevo-viaje/actividades" class="btn btn-naranja btn-block">ELEGIR ACTIVIDADES</a>
                                    </div>
						        </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="notificaciones">...</div>
                        </div>
                    </div>
				</div>
			</div>
        </div>
    </section>
{% include footer %}