﻿{% include header %}
    <div class="blanco-background"></div>
    <section class="container-fluid">
        <div class="row">
            <div class="banner fondo-naranja">Nuevo viaje</div>
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel fondo-transparente">
                    <div class="panel-body">
                        {% for i,a in actividades %}
                         <li>{{ a.Nombre }}</li>
                        {% else %}
                            <tr><td colspan="5">No se encontraron resultados</td></tr>
                        {% endFor %}
                        <ul class="viajes">
                            <li>
                                <a class="btn btn-naranja">VER</a>
                                <div><img src="images/lugar.png" />MADRID, España</div>
                                <div><img src="images/calendario.png" />15/04/17 - 25/04/17</div>
                            </li>
                            <li>
                                <a class="btn btn-naranja">VER</a>
                                <div><img src="images/lugar.png" />New York, USA</div>
                                <div><img src="images/calendario.png" />10/08/18 - 20/08/18</div>
                            </li>
						</ul>
                    </div>
				</div>
			</div>
        </div>
    </section>
{% include footer %}